#field-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 24rem;
    background-color: teal;
    box-sizing: border-box;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 4rem;
    background-color: olive;
    box-sizing: border-box;
}

.tile{
    width: 4rem;
    height: 4rem;
    border: 1px solid grey;
    box-sizing: border-box;
}