#field-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 24rem;
    background-color: teal;
    box-sizing: border-box;
    overflow: hidden;
}

.column {
    position: relative;
    width: 4rem;
    height: 24rem;
    background-color: olive;
    box-sizing: border-box;
}

.tile {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--tile-size);
    height: var(--tile-size);
    border: 1px solid grey;
    box-sizing: border-box;
    transition: top 0.4s ease-out;
}
