#progressbar {
    position: absolute;
    right: 0;
    top: 18rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;
    width: 4rem;
    height: 12rem;
    background-color: #a1a1a1;
    background-image: url("../assets/png/progress-display.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
