#score {
    display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;
    width: 16rem;
    height: 16rem;
    background-color: #a1a1a1;
    background-image: url("../assets/png/score.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    font-family: Pangolin, Helvetica, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}
