.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 16rem;
    height: 4rem;
    color: black;
    font-size: 0.75rem;
    box-sizing: border-box;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 2.5rem;
    background-color: tan;
    box-sizing: border-box;
}

.slider-min-max {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: khaki;
    box-sizing: border-box;
}
