#streetlight {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 18.5rem;
    height: 2rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    background-color: silver;
    box-sizing: border-box;
}

#streetlight-lt-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    box-sizing: border-box;
}

#streetlight-light {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-sizing: border-box;
}

#streetlight-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 16rem;
    height: 1rem;
    background-color: lightgreen;
    color: black;
    font-size: 0.75rem;
    box-sizing: border-box;
}

.streetlight-yellow {
    background-color: yellow;
}
.streetlight-red {
    background-color: red;
}
.streetlight-green {
    background-color: green;
}
