#bonuses {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 8rem;
    height: 14rem;
    margin-top: 2rem;
    background-color: #a1a1a1;
    color: white;
    font-family: Pangolin, Helvetica, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

.bonus {
    position: relative;
    width: 6rem;
    height: 6rem;
    background-color: #a1a1a1;
    background-image: url("../assets/png/bonus.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    font-family: Pangolin, Helvetica, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    cursor: pointer;
}

.bonus-icon,
.bonus-tooltip,
.bonus-amount {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: white;
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: Pangolin, Helvetica, sans-serif;
}

.bonus-icon {
    top: 0.75rem;
    left: 0.75rem;
    width: 2.5rem;
    height: 2.5rem;
}

.bonus-tooltip {
    display: flex;
    justify-content: flex-end;
    top: 0.4rem;
    left: 4.2rem;
    background-size: 20% 80%;
    width: 6rem;
    height: 1.5rem;
    background-image: url("../assets/png/question.png");
    font-size: 0.8rem;
}

.bonus-amount {
    top: 4rem;
    left: 1.6rem;
    width: 3rem;
    height: 1rem;
    font-size: 1.5rem;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;
}
[data-tooltip]:hover::after {
    opacity: 1;
}
