@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 16px;
  --tile-0-clr: #0d233d;
  --tile-1-clr: #349ee9;
  --tile-2-clr: #a84197;
  --tile-3-clr: #d2334a;
  --tile-4-clr: #dca223;
  --tile-5-clr: #7dc23e;
  --tile-6-clr: gray;
  --tile-7-clr: violet;
  --tile-8-clr: maroon;
  --tile-9-clr: darkorange;
  --tile-10-clr: blue;
}

.theme-main {
  --font-clr: black;
  --btn-main-0-clr: #008966;
  --btn-main-1-clr: #00bc8c;
  --btn-hover-clr: #00e9ae;
  --bgrnd-0-clr: #222;
  --bgrnd-1-clr: #303030;
  --brdr-1-clr: #555;
  --bgrnd-1-hover-clr: #444;
  --player-1-clr: #ff6347;
}

.theme-another {
  --font-clr: white;
  --btn-main-0-clr: #cb6757;
  --btn-main-1-clr: #ed7966;
  --btn-hover-clr: #f08e7e;
  --bgrnd-0-clr: #141850;
  --bgrnd-1-clr: #303179;
  --brdr-1-clr: #626398;
  --bgrnd-1-hover-clr: #8e8fb3;
  --player-1-clr: #f5cac2;
}

#body {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: var(--bgrnd-0-clr);
  font-family: "Roboto";
  color: var(--font-clr);
  --tile-size: 4rem;
}

@media (min-width: 300px) {
  .app {
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
    margin: 1rem auto;
    background-color: rgb(255, 159, 142);
  }
  .tingle-modal * {
    box-sizing: border-box;
  }
  .tingle-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    cursor: url("data:image/svg+xml,%3Csvg width='19' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.514.535l-6.42 6.42L2.677.536a1.517 1.517 0 00-2.14 0 1.517 1.517 0 000 2.14l6.42 6.419-6.42 6.419a1.517 1.517 0 000 2.14 1.517 1.517 0 002.14 0l6.419-6.42 6.419 6.42a1.517 1.517 0 002.14 0 1.517 1.517 0 000-2.14l-6.42-6.42 6.42-6.418a1.517 1.517 0 000-2.14 1.516 1.516 0 00-2.14 0z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E"), auto;
  }
  @supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
    .tingle-modal {
      -webkit-backdrop-filter: blur(12px);
              backdrop-filter: blur(12px);
    }
  }
  /* confirm and alerts
    -------------------------------------------------------------- */
  .tingle-modal--confirm .tingle-modal-box {
    text-align: center;
  }
  /* modal
    -------------------------------------------------------------- */
  .tingle-modal--noOverlayClose {
    cursor: default;
  }
  .tingle-modal--noClose .tingle-modal__close {
    display: none;
  }
  .tingle-modal__close {
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    z-index: 1000;
    padding: 0;
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  .tingle-modal__close svg * {
    fill: currentColor;
  }
  .tingle-modal__closeLabel {
    display: none;
  }
  .tingle-modal__close:hover {
    color: #fff;
  }
  .tingle-modal-box {
    position: relative;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    border-radius: 4px;
    background: #fff;
    opacity: 1;
    cursor: auto;
    will-change: transform, opacity;
  }
  .tingle-modal-box__content {
    padding: 3rem 3rem;
  }
  .tingle-modal-box__footer {
    padding: 1.5rem 2rem;
    width: auto;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f5f5f5;
    cursor: auto;
  }
  .tingle-modal-box__footer::after {
    display: table;
    clear: both;
    content: "";
  }
  .tingle-modal-box__footer--sticky {
    position: fixed;
    bottom: -200px; /* TODO : find a better way */
    z-index: 10001;
    opacity: 1;
    transition: bottom 0.3s ease-in-out 0.3s;
  }
  /* state
    -------------------------------------------------------------- */
  .tingle-enabled {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
  }
  .tingle-modal--visible .tingle-modal-box__footer {
    bottom: 0;
  }
  .tingle-modal--visible {
    visibility: visible;
    opacity: 1;
  }
  .tingle-modal--visible .tingle-modal-box {
    animation: scale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
  }
  .tingle-modal--overflow {
    overflow-y: scroll;
    padding-top: 8vh;
  }
  /* btn
    -------------------------------------------------------------- */
  .tingle-btn {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 1rem 2rem;
    border: none;
    background-color: grey;
    box-shadow: none;
    color: #fff;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.4s ease;
  }
  .tingle-btn--primary {
    background-color: #3498db;
  }
  .tingle-btn--danger {
    background-color: #e74c3c;
  }
  .tingle-btn--default {
    background-color: #34495e;
  }
  .tingle-btn--pull-left {
    float: left;
  }
  .tingle-btn--pull-right {
    float: right;
  }
  /* responsive
    -------------------------------------------------------------- */
  /* animations
    -------------------------------------------------------------- */
}
@media (min-width: 300px) and (max-width: 540px) {
  .tingle-modal {
    top: 0px;
    display: block;
    padding-top: 60px;
    width: 100%;
  }
  .tingle-modal-box {
    width: auto;
    border-radius: 0;
  }
  .tingle-modal-box__content {
    overflow-y: scroll;
  }
  .tingle-modal--noClose {
    top: 0;
  }
  .tingle-modal--noOverlayClose {
    padding-top: 0;
  }
  .tingle-modal-box__footer .tingle-btn {
    display: block;
    float: none;
    margin-bottom: 1rem;
    width: 100%;
  }
  .tingle-modal__close {
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #2c3e50;
    box-shadow: none;
    color: #fff;
  }
  .tingle-modal__closeLabel {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  .tingle-modal__closeIcon {
    display: inline-block;
    margin-right: 0.8rem;
    width: 1.6rem;
    vertical-align: middle;
    font-size: 0;
  }
}
@media (min-width: 300px) {
  @keyframes scale {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
@media (min-width: 300px) {
  #header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: darkolivegreen;
    box-sizing: border-box;
  }
}
@media (min-width: 300px) {
  #btn-new-game {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    background-color: palevioletred;
    box-sizing: border-box;
  }
}
@media (min-width: 300px) {
  #btn-settings {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    background-color: mediumvioletred;
    box-sizing: border-box;
  }
}
@media (min-width: 300px) {
  #streetlight {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 18.5rem;
    height: 2rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    background-color: silver;
    box-sizing: border-box;
  }
}
@media (min-width: 300px) {
  #streetlight-lt-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    box-sizing: border-box;
  }
}
@media (min-width: 300px) {
  #streetlight-light {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-sizing: border-box;
  }
}
@media (min-width: 300px) {
  #streetlight-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 16rem;
    height: 1rem;
    background-color: lightgreen;
    color: black;
    font-size: 0.75rem;
    box-sizing: border-box;
  }
}
@media (min-width: 300px) {
  .streetlight-yellow {
    background-color: yellow;
    pointer-events: none;
    cursor: default;
  }
}
@media (min-width: 300px) {
  .streetlight-red {
    background-color: red;
    pointer-events: auto;
    cursor: pointer;
  }
}
@media (min-width: 300px) {
  .streetlight-green {
    background-color: green;
    pointer-events: none;
    cursor: default;
  }
}
@media (min-width: 300px) {
  #progressbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 14.2rem;
    height: 3rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    background-color: silver;
    box-sizing: border-box;
  }
}
@media (min-width: 300px) {
  #progressbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 1rem;
    background-color: lightgreen;
    color: black;
    font-size: 0.75rem;
    box-sizing: border-box;
  }
}
@media (min-width: 300px) {
  #progressbar-bar-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 2rem;
    margin: 0.2rem;
    box-sizing: border-box;
  }
}
@media (min-width: 300px) {
  #progressbar-bar {
    width: 12rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: orange;
    box-sizing: border-box;
  }
}
@media (min-width: 300px) {
  #field-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 24rem;
    background-color: teal;
    box-sizing: border-box;
    overflow: hidden;
  }
}
@media (min-width: 300px) {
  .column {
    position: relative;
    width: 4rem;
    height: 24rem;
    background-color: olive;
    box-sizing: border-box;
  }
}
@media (min-width: 300px) {
  .tile {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--tile-size);
    height: var(--tile-size);
    border: 1px solid grey;
    box-sizing: border-box;
    transition: top 0.4s ease-out;
  }
}
@media (min-width: 300px) {
  #score {
    width: 22rem;
    height: 8rem;
    margin: 1rem;
    background-color: darkgray;
    box-sizing: border-box;
  }
}/*# sourceMappingURL=main.css.map */